commands {

    aln {
        executor="lsf"
        lsf_request_options="-n 8 -R 'rusage[mem=48]'";
        }

    aln_metrics {
        executor="lsf"
        lsf_request_options="-n 1 -R 'rusage[mem=12]'";
        }

    htseq {
        executor="lsf"
        lsf_request_options="-n 1 -R 'rusage[mem=10]'";
        }

    salmon {
        executor="lsf"
        lsf_request_options="-n 1 -R 'rusage[mem=10]'";
        }

    rna_metrics {
        executor="lsf"
        lsf_request_options="-n 1 -R 'rusage[mem=10]'";
        }




}
